# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# logs
*.log
